{% load i18n %}
{% load check_is_gstaff user_groups get_gstudio_workspace_instance cast_to_node get_attribute_value rewind_cursor from ndf_tags %}
{% check_is_gstaff group_id request.user as is_gstaff %}
{% user_groups request.user.is_superuser request.user.id as user_grp_count %}
{% get_gstudio_workspace_instance as is_workspace_instance %}
{% if modules_is_cur %}
	{% rewind_cursor all_modules as all_modules %}
{% endif %}

<nav class="top-bar-second" data-topbar role="navigation" id="top-bar-second">
	<div class="small-12 medium-12 columns expore-type">
		<!--<div class="toggleButtons">-->
		<div class="title-area">
			<a href="{% url 'explore_courses' %}" class="secondary-header-tabs  {%if title == 'courses'%} active{% endif %}">
				{% trans "Courses" %}
			</a>
			{% if is_workspace_instance %}	
				{% if request.user.is_superuser or user_grp_count.projects > 0  %}
				<a href="{% url 'explore_groups' %}" class="secondary-header-tabs {%if title == 'workspaces'%} active{% endif %}">
					{% trans "Workspaces" %}
				</a>
				{% endif %}
			{% endif %}
			{% if request.user.is_superuser or user_grp_count.drafts > 0  %}
			<a href="{% url 'explore_drafts' %}" class="secondary-header-tabs {%if title == 'drafts'%} active{% endif %}">
				{% trans "Draft Courses" %}
			</a>
			{% endif %}

			{% if is_gstaff and request.author.agency_type != 'Teacher' %}
			<div class="explore-settings-drop">
				<button href="#" data-dropdown="explore-settings" aria-controls="explore-settings" aria-expanded="false" data-options="is_hover:true;align:bottom">{% trans " Options " %}<i class="fa fa-chevron-down"></i></button><br/>
				<ul id="explore-settings" data-dropdown-content class="f-dropdown" aria-hidden="true">
			    	{% if site.SITE_NAME == 'NROER' %}
					<li>
						<a class="wrkspace" href="{% url 'create_group' group_id %}" title="Create New Workspace">New Workspace </a>
					</li>
					{% endif %}
					<li>
						<a href="{% url 'unit_create_edit' group_id %}"> New Unit</a>
					</li>
					<li>
						<a href="{% url 'module_create' group_id %}" > New Module</a>
					</li>
					<li>
						<a data-reveal-id="sort-module-reveal"> Sort Modules</a>
						<div id="sort-module-reveal" class="reveal-modal large" data-reveal > 
							<div class="content">
								<h4>{% trans "Module Display Ordering: " %}</h4>
								<div>
									{% include "ndf/widget_selector.html" with for='module_list' all_options=all_modules selected_options=modules_node_sort_list oneline_element='true' %}
								</div><br/>
								<input type="button" id="save_module_order_list" class="right orange-button" value="{% trans 'SAVE' %}">
							</div>
							<a class="close-reveal-modal">&#215;</a>
						</div>          

					</li>
				</ul>


			</div>
			{% endif %}

		</div>
	</div>
</nav>
<script type="text/javascript">
	$(document).on('click', '#save_module_order_list', function(e){
		getSelValuesHiddenElement('module_list', 'sort-module-reveal')
		module_list_ids = $("input[name=module_list]").val()
		$.ajax({
			type: "POST",

			url: "{% url 'module_order_list' %}",
			datatype: "html",
			data:{
				'csrfmiddlewaretoken': "{{csrf_token}}",
				'module_list': module_list_ids
			},
			success: function(data) {
				data = JSON.parse(data)
				if (!data['success']){
					alert("Something went wrong. Please try again later.")
				}
				$('#sort-module-reveal').foundation('reveal', 'close');
				location.reload()
			}
		});

	})

</script>
