{% load i18n %}
{% load get_dict_from_list_of_dicts from simple_filters %}
{% load get_relation_value  from ndf_tags %}

{% if first_arg and second_arg and third_arg %}
    <a href="{% url url_name first_arg second_arg third_arg %}{{search_url_text|safe}}">
{% elif first_arg and second_arg %}
    <a href="{% url url_name first_arg second_arg %}{{search_url_text|safe}}">
{% elif first_arg %}
    <a href='{% url url_name first_arg %}{{search_url_text|safe}}'>
{% endif %}

<div class="module_card">
    <div class="card_banner">
        {% get_relation_value node.pk 'has_banner_pic' as grel_dict %}
        {% if not grel_dict.cursor and grel_dict.grel_node and grel_dict.grel_node.if_file.thumbnail.relurl %}
            <img  src="{{MEDIA_URL}}{{grel_dict.grel_node.if_file.mid.relurl}}" alt="" />
        {% else %}
            <img  src="/static/ndf/images/module-card.png"/></img>
        {% endif %}
    {% get_dict_from_list_of_dicts node.attribute_set as node_attrs %}
    </div>
    <div class="card_summary">
        <div class="card_section">
        <h4 class="card_title" title="{% firstof node.altnames node.name %} ">
            {% firstof node.altnames|truncatechars:50 node.name|truncatechars:50  %}
        </h4>
        </div>
        <div class="card_section">
            <span class="card_label">
                <i class="fa fa-book"></i>
                {% trans "Subject" %}: {{node_attrs.educationalsubject}}
            </span class="card_label">
            <p class="ellipsis"></p>
            {% comment %}
            <!--
            <span class="card_label">
                {% trans "No. of Units" %}: {{node.collection_set|length}}
            </span class="card_label">
            <p class="ellipsis"></p>
            -->
            {% endcomment %}
            <span class="card_label">
                <i class="fa fa-certificate"></i>
               {% trans "Class / Grade" %} : {% for each_attr in node_attrs.educationallevel %}{{each_attr|slice:"5:"}}{% if not forloop.last %}, {%endif %} {% endfor %}
            </span class="card_label">
            <p class="ellipsis"></p>
                <!-- <span class="card_label">
                    Units
                </span class="card_label"> -->
            <p class="ellipsis"></p>
        </div>
    </a>
        <div class="card_section">
            {% if not is_gstaff %}
            {% if request.user.is_authenticated %}
                {% include 'ndf/widget_enroll.html' with groupid=node.pk module_enrollment='True' %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

