{% extends "ndf/gbase.html" %}

{% load i18n %}
{% load ndf_tags %}
{% user_access_policy groupid request.user as user_access %}

{% get_group_object groupid as group_obj %}

{% block title %} {% firstof group_obj.altnames group_obj.name %}  {% endblock%}


{% block head %}
  <script src="/static/ndf/bower_components/jquery-backstretch/jquery.backstretch.min.js"></script>
  <script src="/static/ndf/js/meta_info.js"></script>
{% endblock head %}

{% block body_content %}
{% check_is_gstaff group_id request.user as is_gstaff %}

 
 <!-- LMS.html -->
{% comment %}
 {% include "ndf/buddy.html" %}
{% endcomment %}
{% include 'ndf/widget_user_access_modal.html' %}
{% get_group_object group_id as group_object %}
<div class="lms_page">
     <div class="lms_banner">
        
      {% include 'ndf/widget_photo_upload.html' with url_name='course_about' widget_for="group_banner" is_banner=True  no_update_btn=True node=group_obj %}

       <div class="small-12 columns lms_heading">
        <div class="left unit_name"> {% firstof group_object.altnames group_object.name  %}
        </div>
          
       </div>
     </div>
</div>
{% with group_object.member_of_names_list as group_object_member_of_names_list %}
<div class="lms_secondary_header">
<div class="small-10 medium-10 large-10 columns" style="border-bottom: 1px solid #00000029; background-color:#ffffff;">
 
  <ul class="nav_menu_1" style="width:50%; display:inline">
     <li>

      <a href="{% url 'course_content' group_name %}" {% if title == 'course content' or title == 'unit_authoring' %}class="selected"{% endif %} tabindex="2" title="List of all the lessons"><i class="fi-list-thumbnails"></i> 
      {% if not group_object.project_config.tab_name %}{% trans "Lessons" %}{% else %}{{group_object.project_config.tab_name}} {% endif %}</a>
      {% if is_gstaff and request.author.agency_type != 'Teacher' %}<a href="{% url 'unit_detail' group_name %}" title="Edit Structure" style="background-color:#6f0859; border-radius:4px; margin-left:-13px; width:0px;"><i class="fa fa-pencil" style="margin-left:-7px; color:white;"></i>{% endif %}</a>
    </li>

    <li>  <a href="{% url 'course_raw_material' group_name %}" {% if title == 'raw material' or title == "raw_material_detail"  %}class="selected"{% endif %} tabindex="3" title="Contains useful files such as images, audios, videos etc."><i class="fi-folder "></i> 
    {% if not group_object.project_config.resource_name %}{% trans "Resources" %}{% else %}{{group_object.project_config.resource_name}} {% endif %}</a> </li>
    <li>
    <a  href="{% url 'course_gallery' group_name %}" {% if title == 'gallery' or title == "asset_gallery_detail" %} class="selected" {% endif %} tabindex="4" title="Upload and share your files such as images, audios, videos, spreadsheets"> <i class="fi-photo "></i>{% if 'Group'  in group_object_member_of_names_list %} {% trans "E-Library" %} {% else %} {% trans "Gallery" %}{% endif %}</a> 
    </li>
    <li>
      <a href="{% url 'course_notebook' group_name %}" {% if title == 'notebook' %}class="selected"{% endif %} tabindex="5" title="Create and share notes, read notes shared by all students"><i class="fa fa-edit header_icon"></i> {% if not group_object.project_config.blog_name %}{% trans "e-Notes" %}{% else %} {{group_object.project_config.blog_name}} {% endif %}
      </a>
    </li>
    {% if request.user.is_authenticated %}
      <li>
        <a {% if is_gstaff %} href="{% url 'course_analytics_admin' group_name %}" {% else %} href="{% url 'course_analytics' group_id request.user.pk %}" {% endif %}{% if title == 'course_analytics' %} class="selected" {% endif %} tabindex="6" title="See how you have done, how many comments have you received." > <i class="fa fa-line-chart"></i> 
            {% if 'Group' in group_object_member_of_names_list %}
              {% trans "Stats" %}{% else %}
              {% if is_gstaff %}
                {% trans "Group Progress" %}
              {% else %}
                {% trans "Progress" %}
              {% endif %}
            {% endif %}
        </a>
      </li>
     {% endif %}
     {% if 'Group'  in group_object_member_of_names_list and "base_unit" not in group_object_member_of_names_list and "announced_unit" not in group_object_member_of_names_list %}
      <li>
        <a href="{% url 'curriculum_list' groupid  %}" tabindex="6"> <i class="fa fa-sitemap ">  </i> {% trans "Topic Map" %}</a>
      </li>
    {% endif %}
    {% comment %}
    <li>
      <a href="{% url 'gtask' group_id  %}"  tabindex="7" > <i class="fa fa-list-alt"></i> {% trans "Task" %}</a>
    </li>

    
    <li>
      <a href="{% url 'course_about' group_id %}" {% if title == 'about' %}class="selected"{% endif %} tabindex="1" title="Course Summary"><i class="fi-eye"></i> {% trans "Overview" %} </a> 
    </li>
    <li>
      <a href="{% url 'course_content' group_id %}" {% if title == 'course content' or title == 'unit_authoring' %}class="selected"{% endif %} tabindex="2" title="List of all the lessons"><i class="fi-list-thumbnails"></i> 
      {% if not group_object.project_config.tab_name %}{% trans "Lessons" %}{% else %}{{group_object.project_config.tab_name}} {% endif %}</a>
      {% if is_gstaff %}<a href="{% url 'unit_detail' groupid %}" title="Edit Structure" style="background-color:#6f0859; border-radius:4px; margin-left:-13px; width:0px;"><i class="fa fa-pencil" style="margin-left:-7px; color:white;"></i>{% endif %}</a>
     </li>
    {% if 'Group' not in group_object_member_of_names_list  or  'base_unit'  in group_object_member_of_names_list  %}
    <li>  <a href="{% url 'course_raw_material' group_id %}" {% if title == 'raw material' or title == "raw_material_detail"  %}class="selected"{% endif %} tabindex="3" title="Contains useful files such as images, audios, videos etc."><i class="fi-folder "></i> {% trans "Resources" %}</a> </li>
    {% endif %}
    <li>
    <li>  <a  href="{% url 'course_gallery' group_id %}" {% if title == 'gallery' or title == "asset_gallery_detail" %} class="selected" {% endif %} tabindex="4" title="Upload and share your files such as images, audios, videos, spreadsheets"> <i class="fi-photo "></i>{% if 'Group'  in group_object_member_of_names_list and 'base_unit' not in group_object_member_of_names_list %} {% trans "E-Library" %} {% else %} {% trans "Gallery" %}{% endif %}</a> </li>
    <li>
      <a href="{% url 'course_notebook' group_id %}" {% if title == 'notebook' %}class="selected"{% endif %} tabindex="5" title="Create and share notes, read notes shared by all students"><i class="fi-book "></i>
      {% if 'Group' in group_object_member_of_names_list and  'base_unit' not in group_object_member_of_names_list %}
        {% trans "Blog" %} 
      {% else %}
        {% trans "e-Notes" %} 
      {% endif %}
      </a>
    </li>
  </li>
    {% endcomment %}
</ul>
<ul class="nav_menu_1 authoring-tab" style="width:50%; display:inline">
  
    {% if is_gstaff and request.author.agency_type != 'Teacher' or group_object.agency_type == 'School' %}
    <li>
        <a href="{% url 'course_pages' group_name %}"  {% if title == 'course_pages' or title == 'create_course_pages' %}class="selected"{% endif %}><i class="fi-page-filled "></i> {% trans "Activities" %}</a>
    </li>
    <li>
        <a href="{% url 'asset_list' group_name %}" {% if title == 'asset_list' or title == 'asset_detail' or title == 'asset_content_detail'%}class="selected"{% endif %}><i class="fi-folder-lock"></i> {%trans "Assets" %}</a>
    </li>
    {% if group_object.agency_type != 'School' %}
    <li>
        <a href="https://assessments-clix.tiss.edu/" target="_blank" {% if title == 'Assessments' %}class="selected"{% endif %}><i class="fi-graph-trend"></i> {% trans "Assessments" %}</a>
    </li>
    {% endif %}
  {% endif %}

  </ul>
</div>
<div class="small-2 medium-2 large-2 columns" style="border-bottom: 1px solid #00000029; background-color:#ffffff; height: 53px;">
      {% if is_gstaff  %}
        <div class="small-3 medium-6 large-6 columns course_actions" style="color:#164a7b;">
            <span data-dropdown="course-settings-drop" aria-controls="course-settings-drop" aria-expanded="false"  data-options="align:left">
                <i class="icon-widget fi-widget"></i>
            </span>
            <ul id="course-settings-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
      {% if request.author.agency_type != 'Teacher' or group_object.agency_type == 'School' %}
              

              <li>
                  <a href="{% url 'unit_detail' group_name %}" class="fi-pencil"> {% trans "Edit Structure" %} </a>
              </li>

              <li>
                    <a class="fi-photo" style="position: relative;top: -3px;left: 2px;" data-reveal-id="group_banner_prof_pic_prop">
                    {% trans "Change image" %}</a>
              </li>
              {% if 'Group' not in group_object_member_of_names_list and 'announced_unit' in group_object_member_of_names_list or "base_unit" in  group_object_member_of_names_list %}
              <li>
                  <a href="{% url 'create_event_group' group_id 'CourseEventGroup' %}" class="fi-volume"> {% trans "Announce" %}</a>
              </li>
              {% endif %}
 

             <li>
                  <a href="{% url 'unit_edit' group_name group_object.pk %}" class="fi-pencil"> {% trans "Edit Metadata" %}</a>
              </li>
              {% if request.author.agency_type != 'Teacher' and group_object.agency_type != 'School' %}
              <li> <a data-reveal-id="delete-unit"><i class="fa fa-trash"></i> {% trans "Delete" %}</a> </li>
              <div id="delete-unit" class="reveal-modal tiny text-center" data-reveal>
                    <h3>{% trans "Delete Unit:" %} {% firstof group_object.altnames group_object.name  %} ?</h3>
                        <br/>
                        {% trans "Are you sure want to delete this unit?" %}
                        <br/>
                        <a href="#" class="button tiny success">{% trans "Cancel" %}</a>
                        <a href="{% url 'delete_group_url_redirect' group_object.pk 'explore_basecourses' %}" class="button tiny alert">{% trans "Yes" %}</a>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
              {% endif %}
      {% endif %}

              <li>
                  <a data-reveal-id="manage_users_modal" href="{% url 'manage_users' group_id %}"  class="fi-torsos"> {% trans "Manage Users" %}</a>
                  <div id="manage_users_modal" class="reveal-modal large" data-reveal style="position:absolute;">
                      <div id="group_drawer">
                      {% include "ndf/widget_user_search.html" with subscription_status=True %}
                      </div>
                      <a class="close-reveal-modal">&#215;</a>
                  </div>
              </li>
 
              {% get_lessons group_object as lessons_list %}
              {% include 'ndf/epub_export_widget.html' with exp_collection=lessons_list %}
              <li class="lesson_name_in_export">
                <a href="#" data-reveal-id='exportLesson' class="export_lesson fi-archive" title="Export Content into distinct ePubs"> {% trans "Export Content into ePubs" %}</a>
              </li>
          </ul>
          </div>
      {% endif %}
  {% if not is_gstaff %}
  <div class="small-9 medium-4 large-4 columns enroll-unit" >
    {% if request.user.is_authenticated %}
      {% include 'ndf/widget_enroll.html' %}
    {% endif %}

  </div>
  {% endif %}
</div>
</li>
</ul>
</div>
</div>
{% endwith %}



<div id="addAsset" class="reveal-modal reveal-modal-overlay" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


  <div class="small-12 columns group_sections_content">
   <div id="group_overview">
      {% if title == "about" %}
        {% include "ndf/course_about.html" %}
      {% endif %}
    </div>

    <div id="group_blog">
       {% if title == 'notebook' %}
          {% include "ndf/gnotebook.html" %}
        {% endif %}
    </div>
    <div id="course_analytics">
       {% if title == 'course_analytics' %}
       {% if is_gstaff %}
          {% include "ndf/admin_course_analytics.html" %}
        {% else %}
          {% include "ndf/user_course_analytics.html" %}
        {% endif %}
        {% endif %}
    </div>
    <div id="group_course_content">
       {% if title == 'course content' %}
          {% include "ndf/course_content.html" %}
      {% elif title == 'unit_authoring' %}
        {% include "ndf/unit_structure.html" %}
      {% endif %}


    </div>
    <div id="group_elibrary">
        {% if title == "raw material" %}
            {% include "ndf/assets.html" with title=title %}
        {% endif %}
        
        {% if title == "gallery" %}
              {% include "ndf/assets.html" with title=title %}
        {% endif %}
        {% if title == "course_pages" %}
              {% include "ndf/course_pages.html" with title=title %}
        {% elif title == "create_course_pages" %}
              {% include "ndf/course_page_create_edit.html" %}
        {% endif %}
        {% if title == "asset_detail" or title == "asset_content_detail" or  title == "raw_material_detail" or title == "asset_gallery_detail"  %}
            {% include "ndf/add_asset.html"  with title=title %}
        {% endif %}
        {% if title == "asset_list" %}
            {% include "ndf/assets.html" with title="asset_list" %}
        {% endif %}
    </div>
  </div>



{% comment %}

  <!-- LMS Activity Player  -->

<div class="activity_player_secondary_header activity_player_header">
        <div class="header_icon_block back_button">
            <a href="#"><i class="fa fa-angle-left header_icon"></i></a>
        </div><div class="header_icon_block ">
            <a href="#"><i class="fa fa-list-ul thumbnails header_icon"></i></a>
        </div><div class="header_title header_text_block">
            Invitation 2 CLIx in English
        </div><div class="">
        </div><div class="new_note header_text_block">
            <a href="#">
                <i class="fa fa-edit header_icon"></i>&nbsp;
                WRITE A NEW NOTE
            </a>
        </div><div class="pagination prev_button header_text_block">
            <a href="#">
                <i class="fa fa-angle-left header_icon"></i>
                &nbsp;PREV
            </a>
        </div><div class="pagination page_count header_text_block">
            2 OF 3
        </div>
        <div class="pagination page_count header_text_block">
            <a href="#">
                NEXT&nbsp;
                <i class="fa fa-angle-right header_icon"></i>
            </a>
        </div>
</div>

<div class="row activity_sheet">
    <div class="small-12 columns">
        <div class="course_editor ">
          <div class="small-2 columns">
            <div class="course_tree">
              <div class="lesson-title">
                  Lesson Title
              </div>
              <div class="activity-title">
                <li class="active">Activity Title</li>
                <li>Activity Title</li>
                <li>Activity Title</li>
                <li>Activity Title</li>
              </div>
              </div>
          </div>
          <div class="small-9 columns">
            <div class="course_editor_section">
              <div class="input_links">
              <a href="#">Discuss</a>
              <a href="#"> Related Help</a>
              <a href="#">Translate</a>
              </div>
              <div class="activity_page_rendered">
              Lorem Ipsum
              "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
              "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."

              What is Lorem Ipsum?
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endcomment %}

<script type="text/javascript">
  var imgSrc = $('.lms_banner .div-height img').attr('src');
  $('.lms_banner').css('z-index','');
  $('.lms_banner').css('margin-top','-5px');
  $('.lms_banner .div-height img').attr('src', '');
  $('.lms_banner .div-height img').attr('alt', '');
  $('.lms_banner').backstretch(imgSrc);

  // setTimeout(function(){
    
  // }, 1000);
</script>

{% endblock %}
