{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load check_is_gstaff rewind_cursor cast_to_node get_relation_value from ndf_tags %}
{% load get_dict_from_list_of_dicts  from simple_filters %}

{% block title %}  {% firstof node.altnames node.name %}{% endblock %}

{% block body_content %}
{% check_is_gstaff group_id request.user as is_gstaff %}

{% include 'ndf/explore_secondary_header.html' %}
{% cast_to_node units_sort_list as units_node_sort_list %}
{% rewind_cursor units_under_module as units_under_module %}

{% include 'ndf/widget_photo_upload.html' with url_name='module_detail' widget_for="group_banner" is_banner=True  no_update_btn=True if_module=True no_img=True %}

<div class="mod-detail-container small-12 medium-12 columns">
	<div class="large-2 medium-3 small-3 columns thumbnail_style" style="height: 650px;
    margin-top: -18px;">
		<div class="module_card" style="width: auto;">
		    <div class="card_banner" style="display: block; width: 100%; display: cursor: default;">
		        {% get_relation_value node.pk 'has_banner_pic' as grel_dict %}
				{% get_dict_from_list_of_dicts node.attribute_set as node_attrs %}
		        {% if not grel_dict.cursor and grel_dict.grel_node and grel_dict.grel_node.if_file.thumbnail.relurl %}
		            <img  src="{{MEDIA_URL}}{{grel_dict.grel_node.if_file.mid.relurl}}" alt="" />
		        {% else %}
		            <img  src="/static/ndf/images/module-card.png"/>
		        {% endif %}
		    </div>
		</div>
        <label>{% trans "Subject:" %} </label> <span style="margin-left: 2em;">{{node_attrs.educationalsubject}}</span>
        <label>{% trans "Class / Grade: " %}</label> <span style="margin-left: 2em;">{% for each_attr in node_attrs.educationallevel %}{{each_attr|slice:"5:"}}{% if not forloop.last %}, {%endif %} {% endfor %}</span>
	</div>

	<div class="small-9 medium-9 large-10 columns" style="border-left: 2px solid #713558;">
		<div class="small-12 columns">
			<div class="small-9 columns" style="margin-left: -14px;">
				<h4 class="mcard-title"> {% firstof node.altnames node.name %}</h4><br/>
				<label  style="margin-left: auto;">{% trans "Description: " %}</label> <div class="module-desc">{{node.content|default:'No description added yet.'|safe}}
			</div>
			<u><a class="show-more hide">Show more</a></u>
			</div>

	        <div class="small-3 columns">
				<div>
				{% if is_gstaff   %}
					<span data-dropdown="course-settings-drop" aria-controls="course-settings-drop" aria-expanded="false" class="orange-button right" data-options="align:left">
	                    {% trans "Actions" %} <i class="fa fa-chevron-down"></i>
		            </span>
		            <ul id="course-settings-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" >
		                <li>
							<a  class="buddy_margin right edit_button dropdown-settings" href="{% url 'module_edit' group_id node.pk %}" style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
						</li>
		              	<li>
		                    <a class="fi-photo dropdown-settings buddy_margin right edit_button" style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;" data-reveal-id="group_banner_prof_pic_prop">
		                    {% trans "Change image" %} </a>
		              	</li>
		              	<li>
							<a class="fi-list-thumbnails dropdown-settings buddy_margin right edit_button" style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;" data-reveal-id="sort-unit-reveal"> Sort Units</a>
							<div id="sort-unit-reveal" class="reveal-modal large" data-reveal > 
								<div class="content">
									<h4>{% trans "Units Display Ordering: " %}</h4>
									<div>
										{% include "ndf/widget_selector.html" with for='unit_list' all_options=units_under_module selected_options=units_node_sort_list oneline_element='true' %}
									</div><br/>
									<input type="button" id="save_units_order_list" class="right orange-button" value="{% trans 'SAVE' %}">
								</div>
								<a class="close-reveal-modal">&#215;</a>
							</div>
						</li>
						<li>
							{% if node.collection_set %}
								<a data-reveal-id="delete-unit" class="dropdown-settings buddy_margin right edit_button " title="Please delete all units associated with this module." style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;" disabled > <i class="fa fa-trash"></i> {% trans "Delete" %} </a>
		 	 				{% else %}
							 	<a data-reveal-id="delete-unit" class=" dropdown-settings buddy_margin right edit_button disab-button" style="margin-top:0px; margin-right:0px; text-transform:none; width:100%;"><i class="fa fa-trash"></i> {% trans "Delete" %} </a>
						 	{% endif %}
						 	<div id="delete-unit" class="reveal-modal tiny text-center" data-reveal>
			                    <h3>{% trans "Delete Unit:" %} {% firstof group_object.altnames group_object.name  %} ?</h3><br/>
		                        {% trans "Are you sure want to delete this module?" %}<br/>
		                        <a href="#" class="button tiny success">{% trans "Cancel" %}</a>
		                        <a href="{% url 'delete_group_url_redirect' node.pk 'explore_courses' %}" class="button tiny alert">{% trans "Yes" %}</a>
		                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
			                </div>
					    </li>
		            </ul>
				{% endif %}
		        </div>
		    </div>
		</div>
		<div class="small-12 columns">
	        <div class="unit_under_mod_lbl">
	          <span>
	            <i class=""></i> Units</span>
	        </div>
		</div>
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" style="margin-left: 1%">
			{% for each_node in units_node_sort_list  %}
		    <li class="card-image-wrapper" >
				{% include 'ndf/card_group.html' with node=each_node  url_name='course_content' first_arg=each_node.name groupid=each_node.pk is_gstaff=is_gstaff is_module_detail=True %}	
			</li>
			{% empty %}
				<br/><h3>{% trans "No data to display" %}</h3>
			{% endfor %}
		</ul>

	</div>
</div>

<script type="text/javascript">
    // ready function
    $(document).ready(function() {
        var course_about_panel = $('.module-desc')
        if(course_about_panel.height() > 130 ){
          $(".show-more").removeClass("hide")
          $(".module-desc").addClass("short-mtext")
        }
    })

    // Show more/less Course Description
    $(document).on('click','.show-more',function(){
      if($(".module-desc").hasClass("short-mtext")){
        $(".module-desc").removeClass("short-mtext")
        $(".module-desc").addClass("full-mtext")
        $(this).text("Show Less")
      }
      else if($(".module-desc").hasClass("full-mtext")){
        $(".module-desc").removeClass("full-mtext")
        $(".module-desc").addClass("short-mtext")
        $(this).text("Show More")
      }
    })


	$(document).on('click', '#save_units_order_list', function(e){
		getSelValuesHiddenElement('unit_list', 'sort-unit-reveal')
		unit_list_ids = $("input[name=unit_list]").val()
		$.ajax({
			type: "POST",

			url: "{% url 'unit_order_list' group_id node.pk %}",
			datatype: "html",
			data:{
				'csrfmiddlewaretoken': "{{csrf_token}}",
				'unit_list': unit_list_ids,
			},
			success: function(data) {
				data = JSON.parse(data)
				if (!data['success']){
					alert("Something went wrong. Please try again later.")
				}
				$('#sort-unit-reveal').foundation('reveal', 'close');
				location.reload()
			}
		});

	})

</script>
{% endblock %}
