{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load ndf_tags %}

{% block title %} Apps: Play, Learn and have Fun! {% endblock%}
{% block body_content %}


             <!-- First Row --> 

           <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">
	        	<div class="polaroid">
	        		<a href="/softwares/Tools/Astroamer_Element_Hunt_Activity/" title="Astroamer_Element_Hunt_Activity" target="_blank">
					  <img src="/static/ndf/images/noun_331311_cc.svg" alt="Astroamer_Element_Hunt_Activity" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
					  <div class="container">
					    <p>Astroamer Element Hunt</p>
					  </div>
					</a>
				</div>
        	</li>
        	<li>   
        		<div class="polaroid">
        			<a href="/softwares/Tools/Astroamer_Moon_Track/" title="Astroamer_Moon_Track" target="_blank">
						<img src="/static/ndf/images/Motions_of_Moon.jpg" alt="Astroamer_Moon_Track" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Astroamer Moon Track</p>
					  		</div>
					</a>
				</div>
        	</li>
        	<li>   
        		<div class="polaroid">
        		<a href="/softwares/Tools/Astroamer_Planet_Trek_Activity/" title="Astroamer_Planet_Trek_Activity" target="_blank">
					<img src="/static/ndf/images/Solar_System.jpg" alt="Astroamer_Planet_Trek_Activity" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
						<div class="container">
					    	<p>Astroamer Planet Trek</p>
					  	</div>
				</a>
				</div>
        	</li>
        	<li>
        </ul>
        
        <!-- Second Row --> 

        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">
	        	<div class="polaroid">
	        			<a href="/softwares/Tools/ages_puzzle/" title="Ages Puzzle" target="_blank">
							<img src="/static/ndf/images/noun_331311_cc.svg" alt="Ages Puzzle" style="width: 310px;
	    height: 222px;
	    border: 2px solid #164a7b;
	    padding: 10px 10px 10px 10px;" />
								<div class="container">
						    		<p>Ages Puzzle</p>
						    	</div>
						</a>
				</div>
			</li>
			<li>
				<div class="polaroid">
	        			<a href="/softwares/Tools/coins_linear_eqn/" title="coins_linear_eqn" target="_blank">
							<img src="/static/ndf/images/noun_331311_cc.svg" alt="coins_linear_eqn" style="width: 310px;
	    height: 222px;
	    border: 2px solid #164a7b;
	    padding: 10px 10px 10px 10px;" />
								<div class="container">
						    		<p>Coins Linear Equation</p>
						    	</div>
						</a>
				</div>
			</li>
			<li>   
        		<div class="polaroid">
        			<a href="/softwares/Tools/Geogebra_Geometric_Reasoning/" title="Geogebra_customized" target="_blank">
						<img src="/static/ndf/images/geogebra-icon.png" alt="Geogebra_customized" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Geogebra Customized</p>
					  		</div>
					</a>
				</div>
        	</li>
		</ul>

<!-- Third Row --> 

        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">
	        	<div class="polaroid">
	        			<a href="/softwares/Tools/factorisation/" title="factorisation" target="_blank">
							<img src="/static/ndf/images/noun_331311_cc.svg" alt="factorisation" style="width: 310px;
	    height: 222px;
	    border: 2px solid #164a7b;
	    padding: 10px 10px 10px 10px;" />
								<div class="container">
						    		<p>Factorisation</p>
						    	</div>
						</a>
				</div>
	        </li>
	        <li>
	        	<div class="polaroid">
	        		<a href="/softwares/Tools/food_sharing_tool/" title="Food sharing Tool" target="_blank">
					  <img src="/static/ndf/images/FST.png" alt="Food sharing tool" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
					  <div class="container">
					    <p>Food sharing tool</p>
					  </div>
					</a>
				</div>
	        </li>
	        <li>
        		<div class="polaroid">
        			<a href="/softwares/Tools/Ice-cubes-in-lemonade/" title="Ice cubes in lemonade" target="_blank">
						<img src="/static/ndf/images/icl_en.png" alt="Ice-cubes-in-lemonade" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Ice cubes in lemonade</p>
					  		</div>
					</a>
				</div>
        	</li>
	    </ul>

	    <!-- Fourth Row --> 

        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">
	        	<div class="polaroid">
	        		<a href="/softwares/Tools/Motions_of_the_Moon_Animation/" title="Motions_of_the_Moon_Animation" target="_blank">
					  <img src="/static/ndf/images/Motions_of_Moon.jpg" alt="Motions_of_the_Moon_Animation" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
					  <div class="container">
					    <p>Motions of the Moon</p>
					  </div>
					</a>
				</div>
	        </li>
	        <li>
	        	<div class="polaroid">
	        			<a href="/softwares/Tools/musicblocks/" title="Musicblocks" target="_blank">
							<img src="/static/ndf/images/noun_331311_cc.svg" alt="Musicblocks" style="width: 310px;
	    height: 222px;
	    border: 2px solid #164a7b;
	    padding: 10px 10px 10px 10px;" />
								<div class="container">
						    		<p>Music Blocks</p>
						    	</div>
						</a>
				</div>
	        </li>
	        <li>
	        	<div class="polaroid">
	        		<a href="/softwares/Tools/open-story-tool/" title="Open Story Tool" target="_blank">
					  <img src="/static/ndf/images/noun_331311_cc.svg" alt="Open Story tool" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
					  <div class="container">
					    <p>Open Story tool</p>
					  </div>
					</a>
				</div>
	        </li>
	    </ul>

	    <!--Fifth Row-->

	    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">
	        	<div class="polaroid">
	        		<a href="/phet/" title="phet" target="_blank">
					  <img src="/static/ndf/images/phet-logo-tm.svg" alt="Norway" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
					  <div class="container">
					    <p>Phet Customized</p>
					  </div>
					</a>
				</div>
        	</li>
        	<li>
        		<div class="polaroid">
	        		<a href="/softwares/Tools/physics-video-player/" title="physics-video-player" target="_blank">
						<img src="/static/ndf/images/physics_video_tool.jpg" alt="physics-video-player" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
						    	<p>physics video player</p>
						  	</div>
					</a>
				</div>
        	</li>
        	<li>
        		<div class="polaroid">
        			<a href="/softwares/Tools/policequad/" title="Policequad" target="_blank">
						<img src="/static/ndf/images/PoliceQuad_pt33x.png" alt="Policequad" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    		<p>Policequad</p>
					  		</div>
					</a>
				</div>
        	</li>
        </ul>
                <!-- Sixth Row --> 

           <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">  
	        	<div class="polaroid">
	        		<a href="/softwares/Tools/Ratio-Patterns/" title="Ratio-Patterns" target="_blank">
					  <img src="/static/ndf/images/RP.png" alt="Ratio-Patterns" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
					  <div class="container">
					    <p>Ratio Patterns</p>
					  </div>
					</a>
				</div>
        	</li>
        	<li>   
        		<div class="polaroid">
        			<a href="/softwares/Tools/Rotation_of_Earth_Animation/" title="Rotation_of_Earth_Animation" target="_blank">
						<img src="/static/ndf/images/Rotation_of_Earth.jpg" alt="Rotation_of_Earth_Animation" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Rotation of Earth</p>
					  		</div>
					</a>
				</div>
        	</li>
        	<li>
        		<div class="polaroid">
        			<a href="/softwares/Tools/runkittyrun/" title="Run kitty run" target="_blank">
						<img src="/static/ndf/images/run_kitty_run.png" alt="Run kitty run" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Run kitty run</p>
					  		</div>
					</a>
				</div>
        	</li>
        </ul>

        <!--Seventh Row-->
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
	        <li class="card-image-wrapper">
	        	<div class="polaroid">
        			<a href="/softwares/Tools/Solar_System_Animation/" title="Solar_System_Animation" target="_blank">
						<img src="/static/ndf/images/Solar_System.jpg" alt="Solar_System_Animation" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Solar System</p>
					  		</div>
					</a>
				</div>
	        </li>
	        <li>
	        	<div class="polaroid">
        			<a href="/softwares/Tools/StarLogoNova/" title="StarLogoNova" target="_blank">
						<img src="/static/ndf/images/noun_331311_cc.svg" alt="StarLogoNova" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Star Logo Nova</p>
					  		</div>
					</a>
				</div>
	        </li>
	       	<li>
	       		<div class="polaroid">
        			<a href="/sugar/" title="Sugar Labs" target="_blank">
						<img src="/static/ndf/images/sugar-xo-logo.svg" alt="Norway" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
							<div class="container">
					    	<p>Sugar Labs</p>
					  		</div>
					</a>
				</div>
	       	</li>
	       	<li>
        		<div class="polaroid">
        		<a href="/turtle/" title="turtle blocks" target="_blank">
					<img src="/static/ndf/images/turtle-blocks.svg" alt="Norway" style="width: 310px;
    height: 222px;
    border: 2px solid #164a7b;
    padding: 10px 10px 10px 10px;" />
						<div class="container">
					    	<p>Turtle Blocks</p>
					  	</div>
				</a>
				</div>
	       	</li>
	    </ul>

<!-- End of Tools -->
</body>
</html>


{% endblock body_content %}