{% load i18n %}
{% load simple_filters %}
{% load ndf_tags %}
{% get_gstudio_workspace_instance as is_workspace %}
{% get_group_object groupid as group_object %} 
{% if module_enrollment %}
  {% get_module_enrollment_status request group_object as enrolled_status_dict %}
{% endif %}
<input type="button" data-reveal-id="enrollBuddiesModal-{{group_object.pk}}" class="fa enrollBtn enrollact-{{group_object.pk}} module-card-enrol unit-card-enrol"  
  "{% if request.user.pk in group_object.author_set and not module_enrollment or module_enrollment and enrolled_status_dict|get_dict_value_from_key:'full_enrolled' %}"  
    "{% if is_workspace %}" value="Enrolled"
      "{% else %}"  value="Enrolled" style="background-color:#006400;" onMouseOut="this.style.background='#006400';this.style.color='white'" onMouseOver="this.style.color='#a2238d';this.style.background='lightgrey'";  title="You are enrolled " 
    "{% endif %}" 
    "{% else %}" 
      "{% if is_workspace %}" value="Enroll"
      "{% else %}"  value="Enroll &#xf234;"  title="Enroll your Buddies "
    "{% endif %}"
  "{%  endif %}" />

<div id="enrollBuddiesModal-{{group_object.pk}}" class="reveal-modal medium radius" data-reveal data-alert>
    <h4 id="enrollBuddiesModalLabel">{% firstof group_object.altnames group_object.name %}
 {% if 'Group' in group_object.member_of_names_list %} {% if is_workspace %} {% trans "Enrollment Status:" %}  {% else %} {% trans "Enrollment Status:" %} {% endif %} {% endif %}  </h4><br/>
    <div class="small-12 medium-12 columns buddiesList center">
    <div class="row">
      <div class="small-8 medium-8 columns">
      {{request.user.username}}
      </div>
      <div class="small-4 medium-4 columns">
      {% if request.user.pk in group_object.author_set and not module_enrollment or module_enrollment and enrolled_status_dict|get_dict_value_from_key:request.user.pk %}
          <input id="enrollchk_{{group_object.pk}}_{{request.user.pk}}" type="checkbox" class="enroll_chkbox" checked disabled><label for="enrollchk_{{group_object.pk}}_{{request.user.pk}}"> {% if 'announced_unit' in group_object.member_of_names_list or module_enrollment %} {% if is_workspace %} {% trans "Enrolled" %} {% else %} {% trans "Enrolled" %} {% endif %} {% endif %} </label>
      {% else %}
          <input id="enrollchk_{{group_object.pk}}_{{request.user.pk}}" type="checkbox" class="enroll_chkbox" onclick="enroll_user('{{request.user.pk}}', '{{group_object.pk}}', '{{module_enrollment}}')" data-user-id='{{request.user.pk}}'><label for="enrollchk_{{group_object.pk}}_{{request.user.pk}}" class="enroll-act_lbl"> {% if 'announced_unit' in group_object.member_of_names_list or module_enrollment %} {% if is_workspace %} {% trans "Enroll" %} {% else %} {% trans "Enroll" %} {% endif %} {% endif %} </label>
      {% endif %}
      </div>
      <hr>

    {% if request.session.buddies_userid_list %}
      {% with request.session.buddies_username_id_dict|apply_eval as buddies_dict %}
        {% for username,userid in buddies_dict.items %}
            <div class="small-8 medium-8 columns">
              {{forloop.counter}}. {{username}} :
            </div>
            <div class="small-4 medium-4 columns">
               {% if userid in group_object.author_set and not module_enrollment or module_enrollment and enrolled_status_dict|get_dict_value_from_key:userid %}
                <input id="enrollchk_{{group_object.pk}}_{{userid}}" type="checkbox" class="enroll_chkbox" checked disabled><label for="enrollchk_{{group_object.pk}}_{{userid}}" > {% if 'announced_unit' in group_object.member_of_names_list or module_enrollment %} {% if is_workspace %} {% trans "Enrolled" %} {% else %} {% trans "Enrolled" %} {% endif %} {% endif %} 
                </label>
            {% else %}
              <input id="enrollchk_{{group_object.pk}}_{{userid}}" type="checkbox" class="enroll_chkbox" onclick="enroll_user('{{userid}}', '{{group_object.pk}}', '{{module_enrollment}}')" data-user-id='{{userid}}'><label for="enrollchk_{{group_object.pk}}_{{userid}}" class="enroll-act_lbl"> {% if 'announced_unit' in group_object.member_of_names_list or module_enrollment %} 
                {% if is_workspace %} {% trans "Enroll" %} {% else %} {% trans "Enroll" %} {% endif %} {% endif %} </label>
            {% endif %}
            </div>
            <hr>
        {% endfor %}
      {% endwith %}

    <input type="button" class="pink-button right enroll_all_users-{{group_object.pk}}" title="Enroll all" onclick="enroll_all_users('{{group_object.pk}}', '{{module_enrollment}}')" "{% if 'Group' in group_object.member_of_names_list %}" value="Enroll All"  "{% else %}" value="Enroll All" "{% endif %}" >
    {% endif %}
    </div>
    </div>

    <p class="close-reveal-modal">&#215;</p>
</div>


<script type="text/javascript">
  function enroll_user(user_id, this_group_id, module_enrollment_flag){
    module_enrollment = module_enrollment_flag.trim()
    if (!module_enrollment){
      module_enrollment = "False"
    }

    if (!user_id){
      user_id = {{request.user.id}}
    }
    //trigger the ajax call to enroll
    $.ajax({
      url: "{% url 'enroll_to_course' groupid %}",

      data: {
        'csrfmiddlewaretoken': "{{csrf_token}}",
        'user_id': JSON.stringify(user_id),
        'enroll_group_id': this_group_id,
        'module_enrollment': module_enrollment
      },

      type: "POST",

      dataType: "json",

      success: function(data){
        success_state = data["success"]
        if(success_state){
          location.reload();
        }
      },
    });//end of ajax
  }

  $(document).on('click','.enroll-btn',function(){
    user_id = $(this).attr('data-user-id')
    enroll_user(user_id)
  })

  function enroll_all_users(groupid, module_enrollment){
    var user_id_list = []
    {% if request.session.buddies_userid_list %}
      user_id_list = {{request.session.buddies_userid_list}}
      user_id_list.push({{request.user.pk}})
    {% endif %}

    enroll_user(user_id_list, groupid, module_enrollment)
  }

  $(document).ready(function(){
    {% if request.session.buddies_userid_list %}

      user_id_list = {{request.session.buddies_userid_list}}
      group_member_ids = {{group_object.author_set}}
      isSuperset = user_id_list.every(function(val) {
        return group_member_ids.indexOf(val) >= 0; 
      });
      if (isSuperset){
        $(".enroll_all_users-{{group_object.pk}}").addClass("hide")
        $(".enrollact-{{group_object.pk}}").val("Enrolled").attr("title", "You are enrolled ")

      }
      else{
        {% if request.user.pk in group_object.author_set %}
          $(".enrollact-{{group_object.pk}}").val("Enroll Buddy").attr("title", "Enroll your Buddies ").css('background-color', '#a2238d')
        {% endif %}
      }

      {% if module_enrollment %}
        // Module Enroll
        {% if not enrolled_status_dict|get_dict_value_from_key:request.user.pk %}
          $(".enrollact-{{group_object.pk}}").val("Enroll").attr("title", "Enroll ")
        {% endif %}
      {% else %}
        // Unit Enroll
        {% if request.user.pk not in group_object.author_set %}
          $(".enrollact-{{group_object.pk}}").val("Enroll").attr("title", "Enroll ")
        {% endif %}
      {% endif %}

    {% else %}
    // No buddies

        {% if module_enrollment %}
          {% if not enrolled_status_dict|get_dict_value_from_key:request.user.pk %}
              $(".enrollact-{{group_object.pk}}").val("Enroll").attr("title", "Enroll ")
          {% endif %}
        {% else %}
          {% if request.user.pk not in group_object.author_set %}
            $(".enrollact-{{group_object.pk}}").val("Enroll").attr("title", "Enroll")
          {% else %}
            $(".enrollact-{{group_object.pk}}").val("Enrolled").attr("title", "You are enrolled")
          {% endif %}
        {% endif %}

    {% endif %}



    })
</script>
